<header class="sectionHeader">Types</header>
<section class="typesWrap">
	<div class="typeHolder">
		<img class="typeImage" src="/images/attack.png">
	<div class="typeData">
		<div>{{types.AttackIndication}}</div>
		<div class="typeText">Attack </br> Indication</div>
	</div>
	</div>
	<div class="typeHolder typeRightColumn">
		<img class="typeImage" src="/images/leakage.png">
		<div class="typeData">
			<div>{{types.DataLeakage}}</div>
			<div class="typeText">Data </br> Leakage</div>
		</div>
	</div>
</section>
<section class="typesWrap">
	<div class="typeHolder">
		<img class="typeImage" src="/images/phishing.png">
	<div class="typeData">
		<div>{{types.Phishing}}</div>
		<div class="typeText">Phishing</div>
	</div>
	</div>
	<div class="typeHolder typeRightColumn">
		<img class="typeImage" src="/images/security.png">
		<div class="typeData">
			<div>{{types.BrandSecurity}}</div>
			<div class="typeText">Brand </br> Security</div>
		</div>
	</div>
</section>
<section class="typesWrap">
	<div class="typeHolder">
		<img class="typeImage" src="/images/exploitable.png">
	<div class="typeData">
		<div>{{types.ExploitableData}}</div>
		<div class="typeText">Exploitable </br> Data<sup class="tm">TM</sup></div>
	</div>
	</div>
	<div class="typeHolder typeRightColumn">
		<img class="typeImage" src="/images/vip.png">
		<div class="typeData">
			<div>{{types.vip}}</div>
			<div class="typeText">Vip</div>
		</div>
	</div>
</section>