<section class="webType">
	<div class="web-holder">
		<div class="webTypeTitle">Clear Web</div>
		<img class="web-img" src="/images/clear.png">
	</div>
	<div class="types">
		<attack-types types="data.ClearWeb.Types"></attack-types>
	</div>
	<div class="severities">
		<severities severities="data.ClearWeb.Severities"></severities>
	</div>
	<div class="sources">
		<sources sources="data.ClearWeb.Sources"></sources>
	</div>
</section>
<section class="webType">
	<div class="web-holder">
		<div class="webTypeTitle">Dark Web</div>
		<img class="web-img" src="/images/dark.png">
	</div>
	<div class="types">
		<attack-types types="data.DarkWeb.Types"></attack-types>
	</div>
	<div class="severities">
		<severities severities="data.DarkWeb.Severities"></severities>
	</div>
	<div class="sources">
		<sources sources="data.DarkWeb.Sources"></sources>
	</div>
</section>